// Widescreen
@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Desktops & laptops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include mediaShortDesktop {
  .album-cover {
    height: 300px;
    width: 300px;
  }
  .playlist {
    margin-top: 1rem;
    li {
      padding: 5px;
    }
  }
}

// Tablets and Small Laptops
@include mediaMd {
  .top-gradient{
    height: 18vh;
    // background: red;
  }
  .background-image {
    background: url(../img/portfolio-home-mobile.jpg);
    background-size: cover;
  }
  .menu-btn {
    top: 35px;
    right: 35px;
  }

  // home main
  main {
    align-items: center;
    text-align: center;
    padding-left: 4rem;
    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
    &#home {
      h1 {
        margin-top: 25vh;
      }
    }
  }

  // home about
  #home-about {
    #home-about-content {
      margin: 2rem 2rem;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      #home-about-text {
        width: 65vw;
        height: auto;
        margin-right: 1rem;
        overflow: hidden;
        margin-bottom: 10vh;
        min-width: 300px;
        p {
          margin: 0;
        }
      }
      #home-about-img-wrapper {
        // // visibility: hidden;
        // height: 325px;
        // width: 247px;
        margin-right: 0;
        padding-bottom: 1rem;
      }
    }
    
    
    #about-section-title {
      margin-bottom: 0;
    }
  }

   // home work section
   #home-work {
    #home-section-title-work {
      margin-bottom: 5rem;
    }
    .glider-wrap {
      padding: 0 2rem;
    }
    .glider-next {
      width: 75px;
    }
  }

  // nav menu
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
    padding-bottom: 2rem;
  }

  .menu-branding {
    // top: 25vh;
    padding-top:3rem;
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url("../img/portrait_small.jpg");
      width: 150px;
      height: 150px;
    }
  }

  // video production
  #video-production {
    padding: 3rem;
    #video-production-heading {
      font-size: 4rem;
      text-align: center;
    }
    #credit-photo-container {
      width: 100%;
      // flex-grow: 1;
      align-items: center;
      justify-content: center;
      // margin: 0rem !important;
      .credit-category {
        width: 60vw;
      }
      #video-page-movi-img{
        order: 1;
      }
    }
    
  }

  // music project page
  .page-wrapper {
    .main-info-block {
      padding: 10rem 5rem 3rem 5rem;
  
      display: flex;
      .album-cover {
        height: 250px;
        width: 250px;
      }
    }
    .playlist-timeline-wrapper{
      .playlist {
        margin-top: 1rem;
        margin-bottom: 10rem;
        li {
          padding: 5px;
          .current-song {
            // background: lighten($primary-color, 4);
            color: rgb(85, 217, 250) !important;
            // color: #f00 !important;
          }
        }
        // height: 50%;
        margin-bottom: 5rem;
      }
    }
   
  
  }
  
 // about page
 .about-info {
  grid-template-areas:
    "bioimage"
    "bio"
    "job1"
    "job2"
    "job3";
  grid-template-columns: 1fr;
  }
  // about page
  #about {
    h1 {
      font-size: 4rem;
      text-align: center;
    }
    h2{
      text-align: center;
    }
    .bio {
      margin: 1rem;
      display: flex;
      flex-direction: column;
      :nth-child(-n+2){
        order: -2;
      }
      :nth-child(4){
        order: -1;
      }
      .bio-img {
       margin-top: 1rem;

       .bio-img-baby-shades {
        height: 240px;
        width: 320px;
        }
        .bio-img-blasticus {
        height: 320px;
        width: 212px;
        }
      
        .bio-img-camera{
        height: 336px;
        width: 263px;
        }
      }
      .bio-text {
        padding: 0;
      }
      
     
    }
    
  }

  // work page
  #my-work {
    padding: 3rem;
    h1 {
      text-align: center;
    }
    .project-section-title {
      margin-top: 1rem;
    }
    .projects {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // vr-project page
  .vr-project {
    h1 {
      text-align: center;
      font-size: 4.5rem;
    }
    h2 {
      text-align: center;
    }
    .project-info-container {
      .project-info {
        .project-info-block {
          flex-direction: column;
          .project-info-text-container {
            margin-left: 0;
            .project-info-text {
              text-align: left;
            }
          }
          &:nth-child(even){
            .project-info-text-container {
              order: 2;
            }
          }
        }
      }
    }
  }

  // contact page
  #contact-me {
    padding: 2rem;
    h1 {
      font-size: 5rem;
      text-align: center;
      padding-top: 3rem;
      padding-bottom: 2rem;
    }
    .boxes {
      margin-top: 6rem;
      div {
        margin-bottom: 4rem;
      }
      .icons-contact {
        font-size: 2rem;
      }
    }
  }
}

// Smartphones
@include mediaSm {
  // home main
  main#home {
    padding: 3rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    h1 {
      margin-top: 10rem;
      font-size: 4rem;
      font-weight: 100;
    }
    h2 {
      padding: 0;
      font-size: 1.5rem;
      font-weight: 100;
    }
    .icons {
      font-size: 1.1rem;
    }
    .mobile-line-break{
      display: inline;
    }
  }

  // home about
  #home-about {
    justify-content: flex-start;
    align-items: center;
    h2 {
      padding-top: 2rem;
      padding-bottom: 0.5rem;
      font-weight: 100;
    }
    
    #home-about-content {
      flex-direction: column;
      justify-content: flex-start;
      flex-wrap: nowrap;
      margin: 0rem 0;
      width: 100vw;
      #home-about-text {
        // height: 50vh;
        width: 80vw;
        margin: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
        p {
          margin:.5rem 0rem;
          padding: 1rem;
          padding-bottom: 0rem;
          font-size: .8rem;
          overflow: scroll;
          width: 100%;
        }
      }
      #home-about-img-wrapper {
        // visibility: hidden;
        margin-top: 1rem;
        height: 210px;
        width: 164px;
        padding-bottom: 3rem;
        min-width: 280px;
      }
    }
  }

  // home work
  #home-work {
    #home-section-title-work {
      margin: 0;
      padding: 0 1rem 3rem 1rem;
      font-weight: 100;
    }
   
    .glider {
      margin: 0;
    }
    .glider-prev {
      margin-right:0;
      width: 50px;
      height: 50px;
      i {
        float: left;
      }
      visibility: hidden;
    }
    .glider-next {
      width: 50px;
      height: 50px;
      i {
        float: right
      }
      visibility: hidden;
    }
  }

  // home-contact
  #home-contact {
    .boxes {
      margin-top: 0;
      div {
        font-size: 1.25rem;
        padding: 1rem;
      }
    }
  }

  // about page
  #about {
    padding: 2rem 1rem;
    h1 {
      font-size: 3.5rem;
    }
    .bio {
      .bio-text {
        font-size: 1rem;
      }
    }
  }

  // video production page 
  #video-production {

    padding: 1rem 1rem;
    #video-production-heading {
      text-align: center;
      padding-top: 3rem;
      padding-bottom: 2rem;
      font-size: 2rem;
    }
    #credit-photo-container{
      .credit-category {
        margin: 0.5rem;
        padding: 0.5rem 1rem;
        h2 {
          font-size: 1.5rem;
          font-weight: 400;
        }
        hr {
          margin-top: .25rem;
          margin-bottom: 0.5rem
        }
        ul {
          margin-top: 0.2rem;
          padding-inline-start: 30px;
          .credit-description {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }


  // menu
  .menu {
    .menu-branding {
      height: 35vh;
      padding-top: 0rem;
    }
    &-nav {
      justify-content: flex-start;
      .nav-link {
        padding: .7rem;
      }
    }
    
  }
  
  // work page
  #my-work {
    padding: 2rem;
    h1 {
      padding-top: 1rem;
      font-size: 3.5rem;
    }
    .project-section-title {
      text-align: center;
      font-size: 1.5rem;
      margin-right: 0;
      margin-bottom: 0;
      hr {
        margin-bottom: 0;
      }
    }
    .projects {
      margin: 1rem;
      grid-template-columns: 1fr;
      .item {
        a {
          font-size: 1rem;
        }
      }
    }
  }

  // vr project page
  .vr-project {
    // background: red;
    padding: 2.5rem .5rem 0rem .5rem;
    h1 {
      font-size: 2.5rem;
      padding-top: 1rem;
    }
    h2 {
      font-size: 1.35rem;
      margin: 0;
      padding-bottom: 1rem;
    }
    .project-info-container {
      .project-info {
        .project-info-block {
          justify-content: flex-start;
          align-items: center;
          padding-bottom: 1rem;
          .project-info-img {
            width:70vw;
            margin: 1rem;
            img {
              min-width: 100%;
              margin-bottom: 1rem;
            }
          }
          .project-info-text-container {
            .project-info-text {
              font-size: 1.25rem;
            }
          }
        }
      }
    }
  }

   // contact page
   #contact-me {
    padding: 2rem;
    h1 {
      font-size: 3rem;
      text-align: center;
      padding-top: 3rem;
      padding-bottom: 2.5rem;
    }
    .boxes {
      margin-top: 2rem;
      div {
        display: flex;
        margin-bottom: 2.75rem;
        padding: .75rem;
        a {
          font-size: 1.25rem;
        }
      }
      .icons-contact {
        font-size: 1rem;
      }
    }
  }
  

  .menu-btn {
    top: 25px;
    right: 25px;
  }

  // music project page
  .page-wrapper {
    .main-info-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2.5rem 0 0 0;
      .album-cover {
        height: 200px;
        width: 200px;
      }
      h1 {
        padding-bottom: 0.5rem;
        font-size: 2rem;
      }
      img {
        margin: 0;
        padding-bottom: 1rem;
      }
      .album-info-wrapper {
        height: 140px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .project-info {
          text-align: center;
          margin: 0;
        }
      }
    }
    .playlist-timeline-wrapper{
      .playlist {
        // height: 40%;
        width: 100%;
        padding: 0;
        margin-bottom: 0;
        li {
          padding-left: 2rem;
        }
      }
    
      .audio-timeline-container {
        width: 100%;
        margin-top: 1rem;
        .timeline {
          margin: 0;
          width: 85%;
        }
      }
    
     
    }
  
   
  
   
  
   
  
   
  }
 
}

// Landscape Smartphones
@include mediaMobileLandscape {
  // menu
  .menu {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    .menu-nav {
      width: 50vw;
      height: 100vh;
      transform: translate3d(0, 100%, 0);
      font-size: 24px;
      padding: 2rem;
      li{
        a {
          padding: .5rem;
        }
      }
    }
  
    .menu-branding {
      // top: 25vh;
      padding-top:0rem;
      width: 50vw;
      height: 100vh;
      transform: translate3d(0, -100%, 0);
  
      .portrait {
        background: url("../img/portrait_small.jpg");
        width: 150px;
        height: 150px;
      }
    }
  }
   // home main
   main#home {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    h1 {
      margin-top: 0;
      font-size: 4rem;
      font-weight: 100;
    }
    h2 {
      padding: 0;
      font-size: 1.5rem;
      font-weight: 100;
    }
    .icons {
      font-size: 1.1rem;
    }
  }

  // home about
  #home-about {
    justify-content: flex-start;
    align-items: center;
    h2 {
      padding-top: 2rem;
      padding-bottom: 0.5rem;
      font-weight: 100;
    }
    
    #home-about-content {
      flex-direction: column;
      justify-content: flex-start;
      margin: 0rem 0;
      width: 100vw;
      #home-about-text {
        // height: 50vh;
        width: 40vw;
        margin: 0;
        margin-top: 1rem;
        p {
          margin:1rem 0rem;
          padding: 1rem;
          padding-bottom: 0rem;
          font-size: .8rem;
          overflow: scroll;
          width: 100%;
        }
      }
      #home-about-img-wrapper {
        // visibility: hidden;
        margin-top: 1rem;
        height: 210px;
        width: 164px;
        padding-bottom: 3rem;
        min-width: 280px;
      }
    }
  }

  // home work
  #home-work {
    #home-section-title-work {
      // top: 0;
      margin-top: 3rem;
      margin-bottom: 0rem;
      // padding: 0 1rem 3rem 1rem;
      font-weight: 100;
      padding: 0;
    }
   
    .glider {
      margin: 0;
    }
    .glider-prev {
      margin-right:0;
      width: 50px;
      height: 50px;
      i {
        float: left;
      }
      visibility: hidden;
    }
    .glider-next {
      width: 50px;
      height: 50px;
      i {
        float: right
      }
      visibility: hidden;
    }
  }

  // home-contact
  #home-contact {
    .boxes {
      margin-top: 0;
      div {
        font-size: 1.25rem;
        padding: 1rem;
        margin-bottom: 1rem;
      }
    }
  }

}
