.vr-project {
  padding: 4rem;
  h2 {
    background: rgba(0, 0, 0, 0);
    text-decoration: underline;
    margin-left:3rem;
  }
  .project-info-container {
    display: flex;
    margin: 1rem;
    .project-info {
      width: 100%;
      display: flex;
      margin-left: 0;
      flex-wrap: wrap;
      justify-content: space-between;
      .project-info-block {
        display: flex;
        // flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        padding-bottom: 3rem;
        .project-info-img {
          margin: 3rem;
          flex-basis: 40%;
          // // border-radius: 50%;
          // height: 50vh;
          img {
            display: block;
            max-width: 100%;
            min-width: 400px;
            // max-height: 30vh;
            border: $secondary-color 3px solid;
          }  
        }
        .project-info-text-container {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-basis: 40%;
          margin-left: 2rem;
          .project-info-text {
            font-size: 1.3rem;
            // height: 100%;
            // background: lighten($primary-color,1)
            max-width: 700px;
            min-width: 300px;
            height: auto;
            // overflow: scroll;
          }
          a {
            color: rgb(85, 217, 250);
          }
        }
      }
     
     
    }
  }
}