@import 'config';
@import 'menu';

* {
  box-sizing: border-box;
}

body {
  // @include background();
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  
}

// headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 200;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background:rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #d4d3cd;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  
}

.text-secondary {
  color: $secondary-color;
}

#nav-down {
  @include easeOut();
  position: fixed;
  bottom: 2rem;
  width: 100%;
  z-index: 5;
  #nav-down-container{
    width:100%;
    text-align: center;
    i {
      color: rgba(darken($light-text-color,50), 0.4);
      // width: 100%;
      font-size: 4rem;
      text-align: center;
      cursor: pointer;
      &:hover{
        color: rgba(darken($light-text-color,40), 0.8);
        @include easeOut();
      }
    }
  }
}

#nav-down-btn{
  @include easeOut();
}

.isUpBtn {
  transition: all 0.3s ease-out;
  transform: rotate(180deg);

}

main {
  background: rgba($primary-color, $background-opacity);
  padding: 4rem;
  padding-left: 6rem;
  height: 100%;
  // for sticky footer: set min height equal to 100vh - footer size
  min-height: calc(100vh - 60px);
  .landing{
     height: 100vh;  
  }
  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    height: 100vh;
    h1 {
      margin-top: 20vh;
    }
    h2 {
    }
  }
  #home-main-sm-heading {
    // background: red;
    // width: 50vw;
  }
}

.background-image {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: $home-image;
  background-size: cover; 
  z-index: -2;
}

.home-section-title {
  font-size: 3rem;
  text-align: center;
  padding: 1rem;
  margin-bottom: 2rem;
  text-shadow: 0 1px 2px rgba($primary-color, 0.25);
}

#home-section-title-work {
  text-shadow: 0 1px 2px rgba($secondary-color, 0.25); 
  margin-bottom: 0
}

#home-about {
  height: 100vh;
  width: 100vw;
  display: flex;
  // flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  background: $light-text-color;
  color: $primary-color;

  #home-about-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    // overflow: hidden;
    max-width: 90vw;
    #home-about-text{
      width: 40vw;
      height: auto;
      // max-height: 70vh;
      margin: 1rem;
      margin-right: 3rem;
      min-width: 400px;
      // margin-top: 2rem;
      p {
        // vertical-align: middle;
        // max-height: 400px;
        text-align: left;
        margin: 2rem;
        overflow: hidden;
        a {
          color: blue;
          &:hover{
            text-decoration: underline;
          }
        }
        background: linear-gradient(lighten($secondary-color, 25), darken($light-text-color,10));
        border-radius: 3%;
        padding: 1rem;
      }
    }
    #home-about-img-wrapper {
      // display: flex;
      // justify-content: center;
      // flex: auto;
      // border: 3px solid $primary-color;
      // border-radius: 2%;
      width: 40vw;
      min-width: 300px;
      height: auto;
      img {
        width: 100%;
        // // max-width: 329px;
        height: auto;
        // max-height: 420px;
      }
    }
  }

 
  
}

#home-work {
  height: 100vh;
  width: 100vw;
  background: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    text-align: center;
    padding-top: 1rem;
  }
  
  .glider-wrap {
    padding: 0 0rem;
    // display: inline-block;
  }
  .glider {
    margin: 2rem;
  }

  .glider-prev {
    // right: 50px;
    height: 100px;
    width: 100px;
    margin-right: 100px;
    // padding-right: 100px;
  }
  .glider-next {
    height: 100px;
    width: 100px;
  }

  #dots-container {
    align-self: flex-end;
    height: 10vh;
  }

 

  .home-project-container {
    // margin: 1rem;
    padding: 1rem;
    border: 1px solid $secondary-color;
    // color: $primary-color;
    background: darken($primary-color, 5);
    span{
      font-size: 1.25rem;
      padding-bottom: 10px;
      display: inline-block;
    }
    // img {
    //   max-width: 500px;
    //   max-height: 500px;
    // }
  }

  .glider-dot.active {
    background: $secondary-color;
    // background: red;
  }

}

#home-contact {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: $light-text-color;
  color: $primary-color;
  .boxes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4rem;
  
    div {
      font-size: 2rem;
      border: 3px #d4d3cd solid;
      padding: 1.5rem 2.5rem;
      margin-bottom: 3rem;
      @include easeOut;
      background: $primary-color;
      
      &:hover {
        border-color: $secondary-color;
        background: lighten($primary-color, 5);
      }
    }
  }
  
  .icons-contact {
    a {
      padding: 0.5rem;
  
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
}


// about page
#about {
  padding: 4rem;
  h2 {
    background: rgba(0, 0, 0, 0);
  }
  .bio {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    :nth-child(2){grid-column: 2 / 4;}
    :nth-child(3){grid-column: 1 / 3;}
    :nth-child(6){grid-column: 2 / 4;}
    margin-right: 40px;
    margin-bottom: 40px;
    
    .bio-img {
      margin: auto;
      // // border-radius: 50%;
      border: $secondary-color 3px solid;
      img {
        display: block;
      }  
    }
    
    .bio-text {
      font-size: 1.3rem;
      padding-right: 1rem;
      // background: lighten($primary-color,1)
    }

    .bio-img-baby-shades {
      height: 300px;
      width: 400px;
    }
    .bio-img-blasticus {
      height: 400px;
      width: 265px;
    }
    
    .bio-img-camera{
      height: 420px;
      width: 329px;
    }
    
    .imdb-link:hover{
      text-decoration: underline;
    }
  }
}

// my work
#my-work{
  padding: 4rem;
  .project-section-title {
    margin: 2.5rem 2em 1rem 0;
    h2 {
      color: set-text-color($primary-color);
      font-weight: 400;
      font-size: 2rem;
    }
    hr {
      margin-top: 0;
    }
  }
  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin: 0rem 2rem;
    
    .item {
      max-width: 500px;;
      img {
        width: 100%;
        height: auto;
        border: 2px $secondary-color solid;
        &:hover {
          // opacity: 0.6;
          border-color: white;
          @include easeOut;
        }
      }
      a {
        font-size: 1.2rem;
      }
    } 
  }

}

// contact page
#contact-me {
  min-height: 100vh;
  padding: 4rem 6rem;
  .boxes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4rem;
  
    div {
      font-size: 2rem;
      border: 3px solid $secondary-color;
      padding: 1.5rem 2.5rem;
      margin-bottom: 3rem;
      @include easeOut;
      background: $primary-color;
      
      &:hover {
        border-color: $light-text-color;
        background: lighten($primary-color, 5);
      }
     
    }
    .icons-contact {
      a {
        padding: 0.5rem;
    
        &:hover {
          color: $secondary-color;
          @include easeOut();
          
        }
      }
    }
  }
}

// top gradient
.top-gradient {
  width: 100vw;
  height: 30vh;
  position: absolute;
  background:linear-gradient(lighten($primary-color, 10),$primary-color);
  z-index: -1;
}

// Button styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  @include easeOut;
  &:hover {
    // background: $secondary-color;
    // color: set-text-color($secondary-color);
    border-color: white;
  }
}

.btn-dark{
  @extend .btn;
  background: darken($primary-color, 100);
  color:$light-text-color;
  border: 2px solid rgba(0, 0, 0, 0);

}

.btn-light{
  @extend .btn;
  background: lighten($primary-color, 60);
  color: $dark-text-color;
  border: 2px solid rgba(0, 0, 0, 0);
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

.job {
  background: lighten($primary-color, 5);
  padding: 0.5rem;
  border-bottom: $secondary-color 5px solid;
}

.job-1 {
  grid-area: job1;
}
.job-2 {
  grid-area: job2;
}
.job-3 {
  grid-area: job3;
}

@import 'music';
@import 'vr-project';
@import 'video';
@import 'mobile';

::-webkit-scrollbar {
  width: 0px; 
  background: transparent; 
  }